.nav-btn {
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%);
}
.nav-btn{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px 25px;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
}
.nav-btn:hover {
   background-position: right center; 
   text-transform: uppercase;
}